<script src="static/js/d3.v7.min.js"></script>
<!--<script>-->
<!--    const data = JSON.parse({{ toJson .Queues.Items }})-->

    const queues = data.map((queue) => {
        return Object.assign({}, ("annotations" in queue.metadata && "volcano.sh/hierarchy" in queue.metadata.annotations) ? {
            name: queue.metadata.annotations["volcano.sh/hierarchy"].split("/").slice(-1)[0],
            weight: queue.metadata.annotations["volcano.sh/hierarchy-weights"].split("/").map(x => parseInt(x)).slice(-1)[0],
            parent: queue.metadata.annotations["volcano.sh/hierarchy"].split("/").slice(-2)[0]
        } : {
            name: "root",
            weight: 1,
            parent: null
        }, queue)
    })

    const totalQueues = queues.map((queue) => {
        const total = queues.filter(x => x.parent == queue.parent).reduce((x, y) => x + y.weight, 0)
        return {
            total: total,
            percent: queue.weight / total,
            ...queue
        }
    })

    recurseValue = (queue) => {
        const parent = totalQueues.find(x => x.name == queue.parent)
        return (!!parent) ? queue.percent * recurseValue(parent) : queue.percent
    }

    const valuedQueues = totalQueues.map((queue) => {
        return {
            value: (!totalQueues.find(x => x.parent == queue.name)) ? recurseValue(queue) : null,
            ...queue
        }
    })

<!--    const margin = {top: 10, right: 10, bottom: 10, left: 10},-->
<!--        width = 760 - margin.left - margin.right,-->
<!--        height = 445 - margin.top - margin.bottom;-->

<!--    // append the svg object to the body of the page-->
<!--    const svg = d3.select("#treeview")-->
<!--        .append("svg")-->
<!--        .attr("width", width + margin.left + margin.right)-->
<!--        .attr("height", height + margin.top + margin.bottom)-->
<!--        .append("g")-->
<!--        .attr("transform", `translate(${margin.left}, ${margin.top})`);-->

<!--    // Give the data to this cluster layout:-->
<!--    const stratify = d3.stratify()-->
<!--        .id((d) => d.name)-->
<!--        .parentId((d) => d.parent)-->
<!--        // .sum(function(d){ return d.value}) // Here the size of each leave is given in the 'value' field in input data-->

<!--    const root = stratify(valuedQueues)-->
<!--        .sum(d => d.value)-->
<!--        .sort((a, b) => b.value - a.value)-->

<!--    // Then d3.treemap computes the position of each element of the hierarchy-->
<!--    d3.treemap()-->
<!--        .size([width, height])-->
<!--        .padding(2)-->
<!--        (root)-->

<!--    // use this information to add rectangles:-->
<!--    svg-->
<!--        .selectAll("rect")-->
<!--        .data(root.leaves())-->
<!--        .join("rect")-->
<!--        .attr('x', function (d) { return d.x0; })-->
<!--        .attr('y', function (d) { return d.y0; })-->
<!--        .attr('width', function (d) { return d.x1 - d.x0; })-->
<!--        .attr('height', function (d) { return d.y1 - d.y0; })-->
<!--        .style("stroke", "black")-->
<!--        .style("fill", "slateblue")-->

<!--    // and to add the text labels-->
<!--    svg-->
<!--        .selectAll("text")-->
<!--        .data(root.leaves())-->
<!--        .join("text")-->
<!--        .attr("x", function(d){ return d.x0+5})    // +10 to adjust position (more right)-->
<!--        .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)-->
<!--        .text(function(d){ return d.data.name })-->
<!--        .attr("font-size", "15px")-->
<!--        .attr("fill", "white")-->
<!--</script>-->