
<!DOCTYPE html>
<html>
<head>
    <title>Volcano ui</title>
    <link rel="stylesheet" href="static/css/milligram-fork.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-progress.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <style>
        #treeview {
            background-color: #f4f5f6;
        }

        .button-nav{
            width: 100%;
        }
        .column {
            padding: 0 2.0rem !important;
        }
        img {
            width: 100%;
        }
    </style>
</head>
<body class="wrapper">
    <section class="container">
        <div class="row">
            <div class="column column-25">
                <img src="/static/img/volcano_logo.png" alt="Volcano">

                <h3 class="title"></h3>

                <dl>
                    <dt>
                        <button class="button button-outline button-nav">
                            Scheduler
                        </button>
                    </dt>
                </dl>
            </div>
            <div class="column column-75">
<!--                <section>-->
                    <h3>Resource overview</h3>
                    <treeview></treeview>
<!--                </section>-->
<!--                <section>-->
<!--                    <h3>Queues</h3>-->
<!--                    <queue />-->
<!--                </section>-->
            </div>
        </div>
    </section>
</body>
<script src="/static/riot/treeview.riot" type="riot"></script>
<script src="/static/riot/child_queue.riot" type="riot"></script>
<script src="/static/riot/parent_queue.riot" type="riot"></script>
<script src="/static/riot/queue.riot" type="riot"></script>

<script src="/static/js/riot+compiler.min.js"></script>

<script>

    const queueJson = JSON.parse({{ toJson .Queues.Items }})
    const jobsJson = JSON.parse({{ toJson .Jobs.Items }})
    const metricsJson = JSON.parse({{ toJson .Metrics }})

    const metrics = Object.entries(metricsJson).reduce((obj, [full_metric_name, entry]) => {
        entry.forEach((value) => {
            if (!obj[value.metric["queue_name"]]){
                obj[value.metric["queue_name"]] = {}
            }
            const queue_name = value.metric["queue_name"]
            const metric_name = full_metric_name.replace("volcano_queue_", "")
            obj[queue_name][metric_name] = value.value[0]
            return obj
        })
        return obj
    }, {})

    console.log("metrics", metrics)
    const queues = queueJson.map((queue, index) => {
        if ("annotations" in queue.metadata && "volcano.sh/hierarchy" in queue.metadata.annotations) {
            const hierarchy = queue.metadata.annotations["volcano.sh/hierarchy"].split("/")
            const weights = queue.metadata.annotations["volcano.sh/hierarchy-weights"].split("/")
            const inferedQueues = Array(hierarchy.length).fill(0).map((val, i) => {
                console.log(hierarchy.slice().reverse().splice(i).reverse().join("-"), hierarchy.slice().reverse().splice(i + 1).reverse().join("-"))
                return {
                    fullname: hierarchy.slice().reverse().splice(i).reverse().join("-"),
                    name: hierarchy.slice().reverse().slice(i)[0],
                    weight: weights.slice().reverse().slice(i)[0],
                    parent: (i != hierarchy.length - 1) ?hierarchy.slice().reverse().splice(i + 1).reverse().join("-") : undefined,
                    kind: "Queue"
                }
            })
            return inferedQueues
        } else {
            return {
                fullname: "root",
                name: "root",
                weight: 1,
                parent: null,
                kind: "Queue"
            }
        }
    }).flat().filter((v,i,a)=>a.findIndex(t=>(t.fullname === v.fullname))===i)

    const jobs = jobsJson.map((job) => {
        return {
            name: job.metadata.name,
            parent: job.spec.queue,
            ...job
        }
    })

    riot.compile().then(() => {
        riot.mount('treeview', { queues : [...queues, ...jobs], metrics: metrics})
        riot.mount('queue', { queues : queues, jobs: jobs})
    })

</script>

</html>

